<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unofficial Atlanta Crime Data API</title>
    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
    <link rel="manifest" href="/img/site.webmanifest">
</head>
<body>
    <div class="contain">
        <h1>Hello!</h1>
        <h1>Welcome to the Unofficial Atlanta Crime Data API</h1>

        <br/>

            <p>The data has been taken from the <a href="https://www.atlantapd.org/i-want-to/crime-data-downloads">Atlanta Police Department's</a> website.</p>
            <p>Visit their website to see more intresting data.</p>

        <br/>

            <p class="code-p"><code class="code-block">Base url</code> :  <%= url%>/</p>

        <br/>
        <!-- -------------------------------------------General-------------------------------------------------- -->
        <h1>General</h1>
            <p>To download <a href="<%= url %>/download/csv">csv</a> file.</p>
            <div class="detail-wrapper">
                <code>
                    <b><code class="method">GET</code></b> /download/csv
                    <br/>
                    <b>Example: </b> <%= url%>/download/csv
                </code>
            </div>
        
        <br/> 
        <br/>
        
        <!-- -------------------------------------------Search-------------------------------------------------- -->
        <h1>Search</h1>
            <p>Search querie's with many options.</p>
            <div class="detail-wrapper">
                <code>
                    <b><code class="method">GET</code></b> /search?queries
                    <br/>
                    <b>Example: </b> <%= url%>/serach?limit=10&occur_day=Monday <a href="<%= url %>/search?limit=10&occur_day=Monday">&#8599;</a>
                    <br/>
                    <b>Note:</b> If nothing is provided inside the query string, then the status 400 will issued to the client.
                </code>
            </div>
            <br/>
            <table class="search-table">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Description</th>
                        <th>Accepted values</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>limit</td>
                        <td>It limits the number of documents.</td>
                        <td>[1 - 20,000]</td>
                    </tr>
                    <tr>
                        <td>neighborhood</td>
                        <td>Search by neighborhood names.</td>
                        <td>Since there are so many neighborhood names, it's recommneded to use this <a href="<%= url %>/all/nbhd_names">link</a> to check its parameters.</td>
                    </tr>
                    <tr>
                        <td>occur_day</td>
                        <td>Search by occurrence day.</td>
                        <td>[Sunday - Saturday]</td>
                    </tr>
                    <tr>
                        <td>occur_day_number</td>
                        <td>Search by occurrence day number.</td>
                        <td>[1, 7] where, 1 = Sunday.</td>
                    </tr>
                    <tr>
                        <td>zone</td>
                        <td>Search by zone number.</td>
                        <td>[1, 7]</td>
                    </tr>
                    <tr>
                        <td>type</td>
                        <td>Search by crime type.</td>
                        <td>[AGG ASSAULT, AUTO THEFT, BURGLARY, HOMICIDE, LARCENY-FROM VEHICLE, LARCENY-NON VEHICLE, ROBBERY]</td>
                    </tr>
                </tbody>
            </table>
        <br/> 
        <br/>
        
        <!-- -------------------------------------------All-------------------------------------------------- -->
        <h1>All</h1>
            <p>To request all raw json data.</p>
            <div class="detail-wrapper">
                <code>
                    <b><code class="method">GET</code></b> /all/rawdata
                    <br/>
                    <b>Example:</b> <%= url%>/all/rawdata <a href="<%= url %>/all/rawdata">&#8599;</a>
                </code>
            </div>
        
        <br/>
            
            <p>To request all neighborhood names.</p>
            <div class="detail-wrapper">
                <code>
                    <b><code class="method">GET</code></b> /all/nbhd_names
                    <br/>
                    <b>Example: </b> <%= url%>/all/nbhd_names <a href="<%= url %>/all/nbhd_names">&#8599;</a>
                </code>
            </div>
        
        <br/>
        
        <!-- -------------------------------------------Top-------------------------------------------------- -->
        <h1>Top</h1>
            <p>To request whole list of top incidents with neighborhood name.</p>
        <div class="detail-wrapper">
            <code>
                <b><code class="method">GET</code></b> /top/nbhds
                <br/>
                <b>Example: </b> <%= url%>/top/nbhds <a href="<%= url %>/top/nbhds">&#8599;</a>
            </code>
        </div>
        <br/>
        <p>To request specific amount of top incidents with neighborhood name.</p>
        <div class="detail-wrapper">
            <code>
                <b><code class="method">GET</code></b> /top/nbhds/-number-
                <br/>
                <b>Example: </b> <%= url%>/top/nbhds/2 <a href="<%= url %>/top/nbhds/2">&#8599;</a>
            </code>
        </div>
        <br/>
        
        <!-- -------------------------------------------Footer-------------------------------------------------- -->
        <footer>
            <p>Have any suggestion(s) or would you like to contribute? <a href="https://github.com/Meet-forever">click me</a></p>
            <p id="author">Made by Meet Patel</p>
        </footer>
        <br/>
    </div>
</body>
</html>